* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #000;
    min-height: 200vh
}


span {
    color: orangered;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 10000;
}

header.sticky{
    padding: 5px 100px;
    background: #fff;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}


.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(banner.jpg);
    background-size: cover;
}

header.sticky .logo, 
header.sticky ul li a {
    color: #000;
}

header a:hover,
header a:active{
    color: orangered;
    border-bottom: 3px solid orangered;
}

.home {
    color: white;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}

.home-content {
    max-width: 800px;
}

.home-content h3{
    font-size: 43px;
}

.home-content h1 {
    font-size: 62px;
    line-height: 1.2;
}

.home-content p{
    font-size: 18px;
    line-height: 1.2;
    margin: 25px 0 30px;
}

.img-box img {
    border-radius: 50%;
    width: 400px;
    height: auto;
}


.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    color: white;
}

.about-content h2 {
    line-height: 1.3;
    font-size: 42px;
}

.about-content h3 {
    line-height: 1.2;
    font-size: 30px;
}

.about-content p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.3;
}

.about-img img {
    position: relative;
    width: 550px;
    box-shadow: 0 0 10px orangered,
                0 0 20px orangered;
    border-radius: 50%;
    width: 400px;
    height: auto;

}

.portfolio {
    color: white;
}

.portfolio-content {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
}



#ch {
    display: none;
}

#ch:checked ~ .container {
    display: block;
}

#ch:checked ~ label {
    display: none;
}


label {
    color: white;
    padding: 10px 13px;
    background-color: orangered;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 550;
}


#read-more {
    margin-left: 80vw;
}


.container {
    display: none;
    margin-left: 100px;
}

.portfolio-content h3 {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 17px;
}

.portfolio-content p {
    font-size: 16px;
    line-height: 1.2;
}

.content-table {
    color: white;
    padding: 10px;
    margin: 50px;
}

.content-table th {
    border: 1px solid #dddddd; 
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.content-table td {
    border: 1px solid #dddddd; 
    text-align: left;
    padding: 8px;
}

#stock-list h2 {
    text-align: left;
    padding-bottom: 10px;
}

#transaction-history h2 {
    text-align: left;
    padding-bottom: 10px;
}

.setup {
    color: white;
    margin-top: 200px;
    text-align: left;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25vh;
}

.setup h2 {
    line-height: 1.3;
    font-size: 42px;
}

.setup p {
    line-height: 1.2;
    font-size: 16px;
}